/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #003366, #0066cc);
}

.login-container {
    
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #003366;
}

/* Estilo de las etiquetas y campos de entrada */
label {
    font-weight: bold;
    color: #003366;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    transition: 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #e0e0e0;
    border-color: #003366;
}

/* Botón de Iniciar Sesión */
.btn-login {
    background-color: #003366;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-bottom: 15px;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #0066cc;
}

/* Botón de Registrar Nuevo */
.btn-register {
    background-color: #ff6600;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: 0.3s;
}

.btn-register:hover {
    background-color: #cc5500;
}

/* Mensaje de error */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}
