/* Contenedor principal */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

/* Botón de Logout */
button:first-of-type {
    align-self: flex-end;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    align-content: center;
}

button:first-of-type:hover {
    background-color: #fff;
    color: #ff6b6b;
    border-color: #ff6b6b;
}

/* Título y subtítulo */
h1 {
    font-size: 28px;
    color: #333;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

/* Botones de acción */
button[routerLink] {
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
    padding: 12px;
    background-color: #1e90ff;
    color: #fff;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button[routerLink]:hover {
    background-color: #fff;
    color: #1e90ff;
    border-color: #1e90ff;
}
