<!-- requerimento-paramedico.component.html -->
<div *ngFor="let request of ambulanceRequests">
    <h3>Detalles de la Emergencia</h3>
    <label><strong>Descripción:</strong></label>
    <input [(ngModel)]="request.description" placeholder="Descripción" />
  
    <label><strong>Tipo de Emergencia:</strong></label>
    <input [(ngModel)]="request.emergencyType" placeholder="Tipo de Emergencia" />
  
    <label><strong>Ubicación:</strong></label>
    <input [(ngModel)]="request.location" placeholder="Ubicación" />
  
    <label><strong>Gravedad:</strong></label>
    <input [(ngModel)]="request.severity" placeholder="Gravedad" />
  
    <label><strong>Notas Adicionales:</strong></label>
    <textarea [(ngModel)]="request.additionalNotes" placeholder="Notas adicionales"></textarea>
  
    <button (click)="updateRequest(request)">Guardar Cambios</button>
    <hr>
  </div>
  